// global styles
$turqouise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$light: #f8f8f8;
$dark-green: rgb(0, 100, 80);

$family-sans-seriff: "Nunito", sans-seriff;
$primary: $green;

$link: $light-green;

// global vars
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
  background: linear-gradient(to right top, $turqouise, $green);
}

html,
body {
  height: 100%;
}
